@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Faculty+Glyphic&family=Oswald:wght@200..700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

body {
    font-family: 'Faculty Glyphic', cursive;
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Alterado de height para min-height */
    background: #333; /* Cor de fundo consistente */
}

main {
    width: 80%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: #a08976;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: underline; /* Unificado ao invés de linha separada */
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

h1:hover {
    color: #F44336; /* Ativado para manter consistência */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: flex; /* Tornado flexível */
    justify-content: center;
    flex-wrap: wrap; /* Para lidar melhor com espaços menores */
}

#fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

#menu1 { /* Corrigido de "menu1" para "#menu1" */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
